// ==========================================================================
//
// Name:           UI Color Palette
// Description:    The color palette of material design.
// Version:        2.1.0
//
// Author:         Denis Malinochkin
// Git:            https://github.com/mrmlnc/material-color
//
// twitter:        @mrmlnc
//
// ==========================================================================

// Palettes
// --------------------------------------------------------------------------

// Red
$list-red =                            ( #ffebee #ffcdd2 #ef9a9a #e57373 #ef5350 #f44336 #e53935 #d32f2f #c62828 #b71c1c #ff8a80 #ff5252 #ff1744 #d50000 )

// Pink
$list-pink =                           ( #fce4ec #f8bbd0 #f48fb1 #f06292 #ec407a #e91e63 #d81b60 #c2185b #ad1457 #880e4f #ff80ab #ff4081 #f50057 #c51162 )

// Purple
$list-purple =                         ( #f3e5f5 #e1bee7 #ce93d8 #ba68c8 #ab47bc #9c27b0 #8e24aa #7b1fa2 #6a1b9a #4a148c #ea80fc #e040fb #d500f9 #aa00ff )

// Deep Purple
$list-deep-purple =                    ( #ede7f6 #d1c4e9 #b39ddb #9575cd #7e57c2 #673ab7 #5e35b1 #512da8 #4527a0 #311b92 #b388ff #7c4dff #651fff #6200ea )

// Indigo
$list-indigo =                         ( #e8eaf6 #c5cae9 #9fa8da #7986cb #5c6bc0 #3f51b5 #3949ab #303f9f #283593 #1a237e #8c9eff #536dfe #3d5afe #304ffe )

// Blue
$list-blue =                           ( #e3f2fd #bbdefb #90caf9 #64b5f6 #42a5f5 #2196f3 #1e88e5 #1976d2 #1565c0 #0d47a1 #82b1ff #448aff #2979ff #2962ff )

// Light Blue
$list-light-blue =                     ( #e1f5fe #b3e5fc #81d4fa #4fc3f7 #29b6f6 #03a9f4 #039be5 #0288d1 #0277bd #01579b #80d8ff #40c4ff #00b0ff #0091ea )

// Cyan
$list-cyan =                           ( #e0f7fa #b2ebf2 #80deea #4dd0e1 #26c6da #00bcd4 #00acc1 #0097a7 #00838f #006064 #84ffff #18ffff #00e5ff #00b8d4 )

// Teal
$list-teal =                           ( #e0f2f1 #b2dfdb #80cbc4 #4db6ac #26a69a #009688 #00897b #00796b #00695c #004d40 #a7ffeb #64ffda #1de9b6 #00bfa5 )

// Green
$list-green =                          ( #e8f5e9 #c8e6c9 #a5d6a7 #81c784 #66bb6a#4caf50 #43a047 #388e3c #2e7d32 #1b5e20#b9f6ca #69f0ae #00e676 #00c853 )

// Light Green
$list-light-green =                    ( #f1f8e9 #dcedc8 #c5e1a5 #aed581 #9ccc65 #8bc34a #7cb342 #689f38 #558b2f #33691e #ccff90 #b2ff59 #76ff03 #64dd17 )

// Lime
$list-lime =                           ( #f9fbe7 #f0f4c3 #e6ee9c #dce775 #d4e157 #cddc39 #c0ca33 #afb42b #9e9d24 #827717 #f4ff81 #eeff41 #c6ff00 #aeea00 )

// Yellow
$list-yellow =                         ( #fffde7 #fff9c4 #fff59d #fff176 #ffee58 #ffeb3b #fdd835 #fbc02d #f9a825 #f57f17 #ffff8d #ffff00 #ffea00 #ffd600 )

// Amber
$list-amber =                          ( #fff8e1 #ffecb3 #ffe082 #ffd54f #ffca28 #ffc107 #ffb300 #ffa000 #ff8f00 #ff6f00 #ffe57f #ffd740 #ffc400 #ffab00 )

// Orange
$list-orange =                         ( #fff3e0 #ffe0b2 #ffcc80 #ffb74d #ffa726 #ff9800 #fb8c00 #f57c00 #ef6c00 #e65100 #ffd180 #ffab40 #ff9100 #ff6d00 )

// Deep Orange
$list-deep-orange =                    ( #fbe9e7 #ffccbc #ffab91 #ff8a65 #ff7043 #ff5722 #f4511e #e64a19 #d84315 #bf360c #ff9e80 #ff6e40 #ff3d00 #dd2c00 )

// Brown
$list-brown =                          ( #efebe9 #d7ccc8 #bcaaa4 #a1887f #8d6e63 #795548 #6d4c41 #5d4037 #4e342e #3e2723 )

// Grey
$list-grey =                           ( #fafafa #f5f5f5 #eeeeee #e0e0e0 #bdbdbd #9e9e9e #757575 #616161 #424242 #212121 )

// Blue Grey
$list-blue-grey =                      ( #eceff1 #cfd8dc #b0bec5 #90a4ae #78909c #607d8b #546e7a #455a64 #37474f #263238 )



// Definitions
// --------------------------------------------------------------------------

// Red
$clr-red =                             $list-red[5];

$clr-red-50 =                          $list-red[0];
$clr-red-100 =                         $list-red[1];
$clr-red-200 =                         $list-red[2];
$clr-red-300 =                         $list-red[3];
$clr-red-400 =                         $list-red[4];
$clr-red-500 =                         $list-red[5];
$clr-red-600 =                         $list-red[6];
$clr-red-700 =                         $list-red[7];
$clr-red-800 =                         $list-red[8];
$clr-red-900 =                         $list-red[9];
$clr-red-A100 =                        $list-red[10];
$clr-red-A200 =                        $list-red[11];
$clr-red-A400 =                        $list-red[12];
$clr-red-A700 =                        $list-red[13];


// Pink
$clr-pink =                            $list-pink[5];

$clr-pink-50 =                         $list-pink[0];
$clr-pink-100 =                        $list-pink[1];
$clr-pink-200 =                        $list-pink[2];
$clr-pink-300 =                        $list-pink[3];
$clr-pink-400 =                        $list-pink[4];
$clr-pink-500 =                        $list-pink[5];
$clr-pink-600 =                        $list-pink[6];
$clr-pink-700 =                        $list-pink[7];
$clr-pink-800 =                        $list-pink[8];
$clr-pink-900 =                        $list-pink[9];
$clr-pink-A100 =                       $list-pink[10];
$clr-pink-A200 =                       $list-pink[11];
$clr-pink-A400 =                       $list-pink[12];
$clr-pink-A700 =                       $list-pink[13];


// Purple
$clr-purple =                          $list-purple[5];

$clr-purple-50 =                       $list-purple[0];
$clr-purple-100 =                      $list-purple[1];
$clr-purple-200 =                      $list-purple[2];
$clr-purple-300 =                      $list-purple[3];
$clr-purple-400 =                      $list-purple[4];
$clr-purple-500 =                      $list-purple[5];
$clr-purple-600 =                      $list-purple[6];
$clr-purple-700 =                      $list-purple[7];
$clr-purple-800 =                      $list-purple[8];
$clr-purple-900 =                      $list-purple[9];
$clr-purple-A100 =                     $list-purple[10];
$clr-purple-A200 =                     $list-purple[11];
$clr-purple-A400 =                     $list-purple[12];
$clr-purple-A700 =                     $list-purple[13];


// Deep Purple
$clr-deep-purple =                     $list-deep-purple[5];

$clr-deep-purple-50 =                  $list-deep-purple[0];
$clr-deep-purple-100 =                 $list-deep-purple[1];
$clr-deep-purple-200 =                 $list-deep-purple[2];
$clr-deep-purple-300 =                 $list-deep-purple[3];
$clr-deep-purple-400 =                 $list-deep-purple[4];
$clr-deep-purple-500 =                 $list-deep-purple[5];
$clr-deep-purple-600 =                 $list-deep-purple[6];
$clr-deep-purple-700 =                 $list-deep-purple[7];
$clr-deep-purple-800 =                 $list-deep-purple[8];
$clr-deep-purple-900 =                 $list-deep-purple[9];
$clr-deep-purple-A100 =                $list-deep-purple[10];
$clr-deep-purple-A200 =                $list-deep-purple[11];
$clr-deep-purple-A400 =                $list-deep-purple[12];
$clr-deep-purple-A700 =                $list-deep-purple[13];


// Indigo
$clr-indigo =                          $list-indigo[5];

$clr-indigo-50 =                       $list-indigo[0];
$clr-indigo-100 =                      $list-indigo[1];
$clr-indigo-200 =                      $list-indigo[2];
$clr-indigo-300 =                      $list-indigo[3];
$clr-indigo-400 =                      $list-indigo[4];
$clr-indigo-500 =                      $list-indigo[5];
$clr-indigo-600 =                      $list-indigo[6];
$clr-indigo-700 =                      $list-indigo[7];
$clr-indigo-800 =                      $list-indigo[8];
$clr-indigo-900 =                      $list-indigo[9];
$clr-indigo-A100 =                     $list-indigo[10];
$clr-indigo-A200 =                     $list-indigo[11];
$clr-indigo-A400 =                     $list-indigo[12];
$clr-indigo-A700 =                     $list-indigo[13];


// Blue
$clr-blue =                            $list-blue[5];

$clr-blue-50 =                         $list-blue[0];
$clr-blue-100 =                        $list-blue[1];
$clr-blue-200 =                        $list-blue[2];
$clr-blue-300 =                        $list-blue[3];
$clr-blue-400 =                        $list-blue[4];
$clr-blue-500 =                        $list-blue[5];
$clr-blue-600 =                        $list-blue[6];
$clr-blue-700 =                        $list-blue[7];
$clr-blue-800 =                        $list-blue[8];
$clr-blue-900 =                        $list-blue[9];
$clr-blue-A100 =                       $list-blue[10];
$clr-blue-A200 =                       $list-blue[11];
$clr-blue-A400 =                       $list-blue[12];
$clr-blue-A700 =                       $list-blue[13];


// Light Blue
$clr-light-blue =                      $list-light-blue[5];

$clr-light-blue-50 =                   $list-light-blue[0];
$clr-light-blue-100 =                  $list-light-blue[1];
$clr-light-blue-200 =                  $list-light-blue[2];
$clr-light-blue-300 =                  $list-light-blue[3];
$clr-light-blue-400 =                  $list-light-blue[4];
$clr-light-blue-500 =                  $list-light-blue[5];
$clr-light-blue-600 =                  $list-light-blue[6];
$clr-light-blue-700 =                  $list-light-blue[7];
$clr-light-blue-800 =                  $list-light-blue[8];
$clr-light-blue-900 =                  $list-light-blue[9];
$clr-light-blue-A100 =                 $list-light-blue[10];
$clr-light-blue-A200 =                 $list-light-blue[11];
$clr-light-blue-A400 =                 $list-light-blue[12];
$clr-light-blue-A700 =                 $list-light-blue[13];


// Cyan
$clr-cyan =                            $list-cyan[5];

$clr-cyan-50 =                         $list-cyan[0];
$clr-cyan-100 =                        $list-cyan[1];
$clr-cyan-200 =                        $list-cyan[2];
$clr-cyan-300 =                        $list-cyan[3];
$clr-cyan-400 =                        $list-cyan[4];
$clr-cyan-500 =                        $list-cyan[5];
$clr-cyan-600 =                        $list-cyan[6];
$clr-cyan-700 =                        $list-cyan[7];
$clr-cyan-800 =                        $list-cyan[8];
$clr-cyan-900 =                        $list-cyan[9];
$clr-cyan-A100 =                       $list-cyan[10];
$clr-cyan-A200 =                       $list-cyan[11];
$clr-cyan-A400 =                       $list-cyan[12];
$clr-cyan-A700 =                       $list-cyan[13];


// Teal
$clr-teal =                            $list-teal[5];

$clr-teal-50 =                         $list-teal[0];
$clr-teal-100 =                        $list-teal[1];
$clr-teal-200 =                        $list-teal[2];
$clr-teal-300 =                        $list-teal[3];
$clr-teal-400 =                        $list-teal[4];
$clr-teal-500 =                        $list-teal[5];
$clr-teal-600 =                        $list-teal[6];
$clr-teal-700 =                        $list-teal[7];
$clr-teal-800 =                        $list-teal[8];
$clr-teal-900 =                        $list-teal[9];
$clr-teal-A100 =                       $list-teal[10];
$clr-teal-A200 =                       $list-teal[11];
$clr-teal-A400 =                       $list-teal[12];
$clr-teal-A700 =                       $list-teal[13];


// Green
$clr-green =                           $list-green[5];

$clr-green-50 =                        $list-green[0];
$clr-green-100 =                       $list-green[1];
$clr-green-200 =                       $list-green[2];
$clr-green-300 =                       $list-green[3];
$clr-green-400 =                       $list-green[4];
$clr-green-500 =                       $list-green[5];
$clr-green-600 =                       $list-green[6];
$clr-green-700 =                       $list-green[7];
$clr-green-800 =                       $list-green[8];
$clr-green-900 =                       $list-green[9];
$clr-green-A100 =                      $list-green[10];
$clr-green-A200 =                      $list-green[11];
$clr-green-A400 =                      $list-green[12];
$clr-green-A700 =                      $list-green[13];


// Light Green
$clr-light-green =                     $list-light-green[5];

$clr-light-green-50 =                  $list-light-green[0];
$clr-light-green-100 =                 $list-light-green[1];
$clr-light-green-200 =                 $list-light-green[2];
$clr-light-green-300 =                 $list-light-green[3];
$clr-light-green-400 =                 $list-light-green[4];
$clr-light-green-500 =                 $list-light-green[5];
$clr-light-green-600 =                 $list-light-green[6];
$clr-light-green-700 =                 $list-light-green[7];
$clr-light-green-800 =                 $list-light-green[8];
$clr-light-green-900 =                 $list-light-green[9];
$clr-light-green-A100 =                $list-light-green[10];
$clr-light-green-A200 =                $list-light-green[11];
$clr-light-green-A400 =                $list-light-green[12];
$clr-light-green-A700 =                $list-light-green[13];


// Lime
$clr-lime =                            $list-lime[5];

$clr-lime-50 =                         $list-lime[0];
$clr-lime-100 =                        $list-lime[1];
$clr-lime-200 =                        $list-lime[2];
$clr-lime-300 =                        $list-lime[3];
$clr-lime-400 =                        $list-lime[4];
$clr-lime-500 =                        $list-lime[5];
$clr-lime-600 =                        $list-lime[6];
$clr-lime-700 =                        $list-lime[7];
$clr-lime-800 =                        $list-lime[8];
$clr-lime-900 =                        $list-lime[9];
$clr-lime-A100 =                       $list-lime[10];
$clr-lime-A200 =                       $list-lime[11];
$clr-lime-A400 =                       $list-lime[12];
$clr-lime-A700 =                       $list-lime[13];


//Yellow
$clr-yellow =                          $list-yellow[5];

$clr-yellow-50 =                       $list-yellow[0];
$clr-yellow-100 =                      $list-yellow[1];
$clr-yellow-200 =                      $list-yellow[2];
$clr-yellow-300 =                      $list-yellow[3];
$clr-yellow-400 =                      $list-yellow[4];
$clr-yellow-500 =                      $list-yellow[5];
$clr-yellow-600 =                      $list-yellow[6];
$clr-yellow-700 =                      $list-yellow[7];
$clr-yellow-800 =                      $list-yellow[8];
$clr-yellow-900 =                      $list-yellow[9];
$clr-yellow-A100 =                     $list-yellow[10];
$clr-yellow-A200 =                     $list-yellow[11];
$clr-yellow-A400 =                     $list-yellow[12];
$clr-yellow-A700 =                     $list-yellow[13];


// Amber
$clr-amber =                           $list-amber[5];

$clr-amber-50 =                        $list-amber[0];
$clr-amber-100 =                       $list-amber[1];
$clr-amber-200 =                       $list-amber[2];
$clr-amber-300 =                       $list-amber[3];
$clr-amber-400 =                       $list-amber[4];
$clr-amber-500 =                       $list-amber[5];
$clr-amber-600 =                       $list-amber[6];
$clr-amber-700 =                       $list-amber[7];
$clr-amber-800 =                       $list-amber[8];
$clr-amber-900 =                       $list-amber[9];
$clr-amber-A100 =                      $list-amber[10];
$clr-amber-A200 =                      $list-amber[11];
$clr-amber-A400 =                      $list-amber[12];
$clr-amber-A700 =                      $list-amber[13];


// Orange
$clr-orange =                          $list-orange[5];

$clr-orange-50 =                       $list-orange[0];
$clr-orange-100 =                      $list-orange[1];
$clr-orange-200 =                      $list-orange[2];
$clr-orange-300 =                      $list-orange[3];
$clr-orange-400 =                      $list-orange[4];
$clr-orange-500 =                      $list-orange[5];
$clr-orange-600 =                      $list-orange[6];
$clr-orange-700 =                      $list-orange[7];
$clr-orange-800 =                      $list-orange[8];
$clr-orange-900 =                      $list-orange[9];
$clr-orange-A100 =                     $list-orange[10];
$clr-orange-A200 =                     $list-orange[11];
$clr-orange-A400 =                     $list-orange[12];
$clr-orange-A700 =                     $list-orange[13];


// Deep Orange
$clr-deep-orange =                     $list-deep-orange[5];

$clr-deep-orange-50 =                  $list-deep-orange[0];
$clr-deep-orange-100 =                 $list-deep-orange[1];
$clr-deep-orange-200 =                 $list-deep-orange[2];
$clr-deep-orange-300 =                 $list-deep-orange[3];
$clr-deep-orange-400 =                 $list-deep-orange[4];
$clr-deep-orange-500 =                 $list-deep-orange[5];
$clr-deep-orange-600 =                 $list-deep-orange[6];
$clr-deep-orange-700 =                 $list-deep-orange[7];
$clr-deep-orange-800 =                 $list-deep-orange[8];
$clr-deep-orange-900 =                 $list-deep-orange[9];
$clr-deep-orange-A100 =                $list-deep-orange[10];
$clr-deep-orange-A200 =                $list-deep-orange[11];
$clr-deep-orange-A400 =                $list-deep-orange[12];
$clr-deep-orange-A700 =                $list-deep-orange[13];


// Brown
$clr-brown =                           $list-brown[5];

$clr-brown-50 =                        $list-brown[0];
$clr-brown-100 =                       $list-brown[1];
$clr-brown-200 =                       $list-brown[2];
$clr-brown-300 =                       $list-brown[3];
$clr-brown-400 =                       $list-brown[4];
$clr-brown-500 =                       $list-brown[5];
$clr-brown-600 =                       $list-brown[6];
$clr-brown-700 =                       $list-brown[7];
$clr-brown-800 =                       $list-brown[8];
$clr-brown-900 =                       $list-brown[9];


// Grey
$clr-grey =                            $list-grey[5];

$clr-grey-50 =                         $list-grey[0];
$clr-grey-100 =                        $list-grey[1];
$clr-grey-200 =                        $list-grey[2];
$clr-grey-300 =                        $list-grey[3];
$clr-grey-400 =                        $list-grey[4];
$clr-grey-500 =                        $list-grey[5];
$clr-grey-600 =                        $list-grey[6];
$clr-grey-700 =                        $list-grey[7];
$clr-grey-800 =                        $list-grey[8];
$clr-grey-900 =                        $list-grey[9];


// Blue Grey
$clr-blue-grey =                       $list-blue-grey[5];

$clr-blue-grey-50 =                    $list-blue-grey[0];
$clr-blue-grey-100 =                   $list-blue-grey[1];
$clr-blue-grey-200 =                   $list-blue-grey[2];
$clr-blue-grey-300 =                   $list-blue-grey[3];
$clr-blue-grey-400 =                   $list-blue-grey[4];
$clr-blue-grey-500 =                   $list-blue-grey[5];
$clr-blue-grey-600 =                   $list-blue-grey[6];
$clr-blue-grey-700 =                   $list-blue-grey[7];
$clr-blue-grey-800 =                   $list-blue-grey[8];
$clr-blue-grey-900 =                   $list-blue-grey[9];



// UI Color Application
// --------------------------------------------------------------------------

// Typography
$clr-ui-display-4 =                    $clr-grey-600;
$clr-ui-display-3 =                    $clr-grey-600;
$clr-ui-display-2 =                    $clr-grey-600;
$clr-ui-display-1 =                    $clr-grey-600;
$clr-ui-headline =                     $clr-grey-900;
$clr-ui-title =                        $clr-grey-900;
$clr-ui-subhead-1 =                    $clr-grey-900;
$clr-ui-body-2 =                       $clr-grey-900;
$clr-ui-body-1 =                       $clr-grey-900;
$clr-ui-caption =                      $clr-grey-600;
$clr-ui-menu =                         $clr-grey-900;
$clr-ui-button =                       $clr-grey-900;
